.container {

}
.container .heroes {
    display: flex; 
    /* .container .heroes .hero {의 background-color 수직으로 정렬되어있는것을
        수평정렬로 맞출때 display: flex 추가한다.*/
    flex-wrap: wrap;
    justify-content: center;
    background-color: orange;
    max-width: 700px;
    
    /* max-width: 뒷배경으로 지정한 orange가 늘어나는것을 정렬 */
    /* width와 max-width: 차이점은 창의 크기변화에 따라 능동적으로 움직임; */
    /* width: 700px;은 창의 크기가 700에 맞춰지고 창의 변화에 따라서 크기 변화없음
    max-width: 700px;은 창의 크기가 700px 최대에 맞춰져있고 창의 크기의 변화에 따라서
    움직이게 된다 */
    
    margin: 0 auto; /* 위아래 값은 0 좌우 값은 auto(자동으로)넣어주세요*/
    
    /* marign은 외부여백을 나타낼때 사용하게 되지만 max: width 700px;와 같이 조건이 있을땐
    margin: auto를 써줄 경우 center정렬된다 */
    /* margin: auto;은 기본적으로 블록요소에 가로 사이즈가 있는 상태에서 margin의 값이
    좌우가 auto라면 가운데 정렬된다. */
    padding: 40px 20px; /* 내부여백 */
}
.container .heroes .hero {
    width: 80px;
    height: 84px;
    margin: 4px; /* margin은 여백을 만들어줄때 */
    border: 3px solid #fff;
    border-radius: 10px; /* 둥글게 깍아준다 */
    box-sizing: border-box;
    background-color: #555;
    transform: skewX(-14deg); /* -14도 만큼 기울임 */
    transition: .1s; /* 전환효과 시간초를 지정할때 */
}
.container .heroes .hero:hover {
    background-color: #ff9c00; 
    /* 칸에 마우스를 올렸을때 각각의 아이템이 마우스가 올라갈때 배경색이 변하는것*/
    transform: skewX(-14deg) scale(1.3); 
    /* skewX(-14deg)를 transform을 넣어주면 scale(1.5)의 크기가 커질때
    기울임이 다시 돌아오지 않는다.*/
    z-index: 1;
}
.container .heroes .hero .image {

}